.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.hidden {
  display: none;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.txt-orange{
  color: $color-orange;
}

.txt-bold {
  font-weight: bold;
}