<!DOCTYPE html>
<html class="ng-scope" ng-app="webapp" lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta SEO -->
    <title>Orange - CBC</title>
    <meta name="title" content="Orange - Comparateur d'objets connectés">
    <meta name="author" content="Creative Innovations">
    <meta name="description" content="Orange - Comparateur d'objets connectés">
    <meta name="keywords" content="orange-coc,orange,coc,creative,innovations">

    <!-- Copyright -->
    <meta name="Copyright" content="Creative Innovations">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/safari-pinned-tab.svg" color="#ff6600">
    <link rel="shortcut icon" href="http://merch-digital.com.francetelecom.fr/applis/petalbienetre/comparateur/assets/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ff6600">

    <!-- Google Fonts -->
    <link href="index_data/css.css" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="index_data/font-awesome.css">
    <link rel="stylesheet" href="index_data/animate.css">

    <link rel="stylesheet" href="index_data/app.css">


    <script type="text/javascript">
        var prod = true;
    </script>

	<!-- Anthony -->
    <script type="text/javascript">
        function getQuerystring(key, default_) {
            if (default_==null) default_="";
            key = key.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regex = new RegExp("[\\?&]"+key+"=([^&#]*)");
            var qs = regex.exec(window.location.href);
            if(qs == null) return default_; else return qs[1];
        }

        var boutique = getQuerystring('boutiqueid');
        var appli = "comparateur";

        if(boutique&&boutique!=""){
            boutique=boutique;
        }else{
            boutique="non défini";
        }

        var domaine="";
        if(window.location.host=="merch-digital.com.francetelecom.fr"){
            domaine="http://merch-digital.com.francetelecom.fr/_lib_commun/stats/";
        }else{
            domaine="http://uc-orange.com/_lib_commun/stats/";
        }
	</script>
    <!-- /Anthony -->
</head>

<body class="ng-scope" ng-controller="WebAppCtrl as app">

    <div ng-show="httpProcessing" class="overlay-message-container ng-hide">
        <div class="overlay-message">
            <img src="index_data/loading.gif" ng-src="assets/images/loading.gif">
            <p class="">Veuillez patienter ...</p>
        </div>
    </div>

    <!-- ngView:  --><div style="" data-ng-animate="2" ng-view="" class="view ng-scope ng-animate ng-enter"><flash-message class="ng-scope ng-isolate-scope" message="message"><div class="overlay-message-container ng-hide" ng-show="isFlashMessage" ng-click="isFlashMessage = false"><div class="overlay-message ng-binding"><div class="overlay-icon"><i class="fa fa-check-square-o"></i></div></div></div></flash-message>

<!-- Modal information -->
<div class="a-modal-overlay ng-scope ng-hide" ng-show="modalInfoOpened" ng-click="modalInfoOpened = false">
	<div class="a-modal a-modal-mail">
		<div class="a-modal-inner">
			<div class="modal-title-box">
				<div class="modal-title align-center">
					Informations
				</div>
			</div>
			<div class="modal-information align-center">
				Laissez vous guider par les questions afin de trouver le ou les bracelets connectés qui vous correspondent.
				<br>
				<br>
				Si vous pensez avoir fait une erreur, vous pouvez recommencer le 
questionnaire en cliquant sur l'icône "Maison" en haut à droite de la 
page.
			</div>
		</div>
	</div>
</div>

<div class="page page-question ng-scope">
	<div style="opacity: 1; display: block; transform: translateY(0px);" class="question-banner-top ng-isolate-scope" velocity-transition="{transition: 'slideDownBigIn', delay: 0}">
		<div class="question-banner-top-inner">
			<div class="menu-top">
				<!-- ngIf: currentQuestionIndex > 0 -->
				<img src="index_data/home.png" class="menu-top-icon" ng-click="stats('clics menu', 'maison'); go('/')">
				<img src="index_data/circle.png" class="menu-top-icon" ng-click="stats('clics menu', 'info'); modalInfoOpened = true">
			</div>
			<div class="question-banner-title"><img src="index_data/clock.png" class="question-banner-icon">Trouvez le bracelet qui vous correspond en seulement 30 secondes !<span class="txt-orange"></span></div>
		</div>
	</div>

	<!-- QUESTIONS DEBUT -->
	<div class="questions">
		<!-- ngRepeat: answer in app.questions[currentQuestionIndex].answers --><div style="opacity: 1; display: block; transform: translateX(0px);" class="question question-3" ng-repeat="answer in app.questions[currentQuestionIndex].answers" velocity-transition="{transition: 'slideRightBigIn', delay: 200 * $index}" ng-click="stats('Q'+(currentQuestionIndex+1), 'R'+($index+1)+' '+answer.label); select($index)">
			<div class="corner-left"></div>
			<div class="corner-left-txt ng-binding">1</div>
			<div class="question-text-container"><div class="question-text"><div class="question-text-inner align-right ng-binding">Je préfère une montre connectée à mon mobile</div></div></div>
			<div class="question-image-container" style="background-image: url(assets/images/questions/question-4-1.jpg)"></div>
		</div><!-- end ngRepeat: answer in app.questions[currentQuestionIndex].answers --><div style="opacity: 1; display: block; transform: translateX(0px);" class="question question-3" ng-repeat="answer in app.questions[currentQuestionIndex].answers" velocity-transition="{transition: 'slideRightBigIn', delay: 200 * $index}" ng-click="stats('Q'+(currentQuestionIndex+1), 'R'+($index+1)+' '+answer.label); select($index)">
			<div class="corner-left"></div>
			<div class="corner-left-txt ng-binding">2</div>
			<div class="question-text-container"><div class="question-text"><div class="question-text-inner align-right ng-binding">Je préfère un bracelet qui m’aide à suivre mon activité physique</div></div></div>
			<div class="question-image-container" style="background-image: url(assets/images/questions/smartwatch_fitwatch.jpg)"></div>
		</div><!-- end ngRepeat: answer in app.questions[currentQuestionIndex].answers --><div style="opacity: 1; display: block; transform: translateX(0px);" class="question question-3" ng-repeat="answer in app.questions[currentQuestionIndex].answers" velocity-transition="{transition: 'slideRightBigIn', delay: 200 * $index}" ng-click="stats('Q'+(currentQuestionIndex+1), 'R'+($index+1)+' '+answer.label); select($index)">
			<div class="corner-left"></div>
			<div class="corner-left-txt ng-binding">3</div>
			<div class="question-text-container"><div class="question-text"><div class="question-text-inner align-right ng-binding">Je veux les deux</div></div></div>
			<div class="question-image-container" style="background-image: url(assets/images/questions/question-3-1.jpg)"></div>
		</div><!-- end ngRepeat: answer in app.questions[currentQuestionIndex].answers -->
	</div>
	<!-- QUESTIONS FIN -->

	<div class="question-banner-bottom">
		<div style="opacity: 1; display: block;" class="banner-bottom-circle ng-isolate-scope" velocity-transition="{transition: 'fadeIn', delay: 100}">
			<div class="circle-txt-container align-center">Question<br><span class="question-course ng-binding">1</span></div>
			<div class="circle-container"></div>
		</div>
		<div style="opacity: 1; display: block;" class="banner-bottom-left ng-isolate-scope" velocity-transition="{transition: 'fadeIn', delay: 400}">
			<!-- <img src="assets/images/icon-bien-etre.jpg" class="icon-banner-bottom-left">
			<img src="assets/images/running.jpg" class="img-banner-bottom-left"> -->
			<!-- <div class="bottom-left-star align-left"><i class="fa fa-gift fa-2x" aria-hidden="true"></i></div>
			<div class="bottom-left-txt align-left"><span class="txt-orange">Je cherche un cadeau</span></div> -->
		</div>
		<div style="opacity: 1; display: block;" class="banner-bottom-right ng-isolate-scope" velocity-transition="{transition: 'fadeIn', delay: 400}" ng-click="stats('mail', 'Touchez ici: sélection objets'); go('/results')">
			<div class="bottom-right-star align-right"><i class="fa fa-star fa-2x" aria-hidden="true"></i></div>
			<div class="bottom-right-txt align-right"><span class="txt-orange">Touchez ici pour découvrir<br>la sélection d'objets connectés<br>d'Orange à porter sur soi.</span></div>
		</div>
	</div>

</div></div>

    <!-- Anthony -->
	<div id="stats"></div>
    <!-- /Anthony -->

    <!-- Libs -->
    <script src="index_data/jquery.js"></script>
    <script src="index_data/fastclick.js"></script>

    <script src="index_data/angular.js"></script>
    <script src="index_data/angular-route.js"></script>
    <script src="index_data/angular-touch.js"></script>
    <script src="index_data/angular-animate.js"></script>
    <script src="index_data/angular-sanitize.js"></script>

    <script src="index_data/velocity.js"></script>
    <script src="index_data/velocity_002.js"></script>

    <script src="index_data/app.js"></script>



</body></html>