/* Eric Meyer's Reset CSS v2.0 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
strong {
  font-weight: bold;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
a,
input {
  outline: 0;
}
/* utilz */
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.clear {
  clear: both;
}
.noselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fltl {
  float: left !important;
}
.fltr {
  float: right !important;
}
.noborder {
  border: 0;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.blocklink {
  display: block;
  width: 100%;
  height: 100%;
}
.txtcenter {
  text-align: center;
}
.txtleft {
  text-align: left;
}
.txtright {
  text-align: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.tdn {
  text-decoration: none;
}
/*******************************
  Template START
********************************/
/* Fonts */
@font-face {
  font-family: 'orangesans75';
  src: url('../fonts/orangesans75-webfont.eot');
  src: url('../fonts/orangesans75-webfont.eot?#iefix') format('eot'), url('../fonts/orangesans75-webfont.woff') format('woff'), url('../fonts/orangesans75-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'orangesans65';
  src: url('../fonts/orangesans65-webfont.eot');
  src: url('../fonts/orangesans65-webfont.eot?#iefix') format('eot'), url('../fonts/orangesans65-webfont.woff') format('woff'), url('../fonts/orangesans65-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'orangesans55';
  src: url('../fonts/orangesans55-webfont.eot');
  src: url('../fonts/orangesans55-webfont.eot?#iefix') format('eot'), url('../fonts/orangesans55-webfont.woff') format('woff'), url('../fonts/orangesans55-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'orangesans45';
  src: url('../fonts/orangesans45-webfont.eot');
  src: url('../fonts/orangesans45-webfont.eot?#iefix') format('eot'), url('../fonts/orangesans45-webfont.woff') format('woff'), url('../fonts/orangesans45-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'orangesans35';
  src: url('../fonts/orangesans35-webfont.eot');
  src: url('../fonts/orangesans35-webfont.eot?#iefix') format('eot'), url('../fonts/orangesans35-webfont.woff') format('woff'), url('../fonts/orangesans35-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-os-35 {
  font-family: 'orangesans35', sans-serif;
}
.font-os-45 {
  font-family: 'orangesans45', sans-serif;
}
.font-os-55 {
  font-family: 'orangesans55', sans-serif;
}
.font-os-65 {
  font-family: 'orangesans65', sans-serif;
}
.font-os-75 {
  font-family: 'orangesans75', sans-serif;
}
/* Colors */
/* Images */
/* Ext. css */
/* Structure */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  height: 100%;
  font-size: 100%;
  background: #444444;
  overflow: hidden;
  font-family: 'orangesans75', sans-serif;
}
body {
  position: relative;
}
.panel {
  display: none;
}
.panel .obj-spec .fond {
  fill: #ff6600;
}
.panel.video-wrap {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.grid-item {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background: #000;
  float: left;
  position: relative;
}
.grid-item.menu-btn {
  background-image: url('../img/grid_picto_menu.png');
  background-color: #333;
  background-size: contain;
}
.grid-item.menu-btn p {
  color: #f60;
  font-size: 2vw;
  position: relative;
  text-align: center;
  top: 70%;
  width: 100%;
}
.grid-item.close-btn {
  background-image: url('../img/grid_picto_close.png');
  background-color: #333;
  background-size: contain;
  float: right;
  z-index: 999;
}
.grid-item.bien-etre p,
.grid-item.fun p,
.grid-item.maison p,
.grid-item.endep p {
  color: #fff;
  font-size: 2vw;
  position: relative;
  text-align: center;
  top: 42%;
  width: 100%;
}
.grid-item.endep p {
  font-size: 1.6vw;
  top: 34%;
}
.grid-item.bien-etre {
  background-image: url('../img/grid_picto_bienetre.png');
  background-size: contain;
}
.grid-item.fun {
  background-image: url('../img/grid_picto_fun.png');
  background-size: contain;
}
.grid-item.maison {
  background-image: url('../img/grid_picto_maison.png');
  background-size: contain;
}
.grid-item.endep {
  background-image: url('../img/grid_picto_endep.png');
  background-size: contain;
}
.grid-item .circle {
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 65%;
  width: 65%;
  margin: 27% auto;
}
.grid-item .circle .obj {
  display: block;
  width: 120%;
  height: 120%;
  background-size: contain;
  margin-left: -10%;
  margin-top: -8%;
  position: absolute;
}
.grid-item .circle .obj.montre {
  background-image: url('../img/grid_obj_montre.png');
}
.grid-item .circle .obj.meteoclimate {
  background-image: url('../img/grid_obj_meteoclimate.png');
}
.grid-item .circle .obj.balance {
  background-image: url('../img/grid_obj_balance.png');
}
.grid-item .circle .obj.sensemother {
  background-image: url('../img/grid_obj_sensemother.png');
}
.grid-item .circle .obj.jumparrot {
  background-image: url('../img/grid_obj_jumparrot.png');
}
.grid-item .circle .obj.goprohero {
  background-image: url('../img/grid_obj_goprohero.png');
}
.grid-item .circle .obj.colorcube {
  background-image: url('../img/grid_obj_colorcube.png');
}
.grid-item .circle .obj.meteo {
  background-image: url('../img/grid_obj_meteo.png');
}
.grid-item .circle .obj.striimlight {
  background-image: url('../img/grid_obj_striimlight.png');
}
.grid-item .circle .obj.aromalight {
  background-image: url('../img/grid_obj_aromalight.png');
}
.grid-item .circle .obj.smartlight {
  background-image: url('../img/grid_obj_smartlight.png');
}
.grid-item .circle .obj.flowerpower {
  background-image: url('../img/grid_obj_flowerpower.png');
}
.grid-item .circle .obj.clavier {
  background-image: url('../img/grid_obj_clavier.png');
}
.grid-item .circle .obj.liveplughd {
  background-image: url('../img/grid_obj_liveplughd.png');
}
.grid-item .circle .obj.liveplugwifi {
  background-image: url('../img/grid_obj_liveplugwifi.png');
}
.grid-item .circle .obj.wifiextend {
  background-image: url('../img/grid_obj_wifiextend.png');
}
.grid-item .circle .obj.batteriedesecours {
  background-image: url('../img/grid_obj_batteriedesecours.png');
}
.grid-item .circle .obj.airboxauto {
  background-image: url('../img/grid_obj_airboxauto.png');
}
.grid-item .circle .obj.airbox4g {
  background-image: url('../img/grid_obj_airbox4g.png');
}
.grid-item .circle .obj.montre-gears2 {
  background-image: url('../img/grid_obj_montregears2.png');
}
.grid-item .circle .obj.montre-onetouch {
  background-image: url('../img/grid_obj_montreonetouch.png');
}
.grid-item .circle .obj.lafibre {
  background-image: url('../img/grid_obj_lafibre.png');
}
.grid-item .circle .obj.lecloud {
  background-image: url('../img/grid_obj_lecloud.png');
}
.grid-item .circle .obj.deezer {
  background-image: url('../img/grid_obj_deezer.png');
}
.grid-item .circle .obj.la4g {
  background-image: url('../img/grid_obj_la4g.png');
}
.grid-item .circle .obj.cam4g {
  background-image: url('../img/grid_obj_cam_4g.png');
}
.grid-item .circle .obj.drone-bt {
  background-image: url('../img/grid_obj_drone_bt.png');
}
.grid-item .circle .obj.drone-cm {
  background-image: url('../img/grid_obj_drone_cm.png');
}
.grid-item .circle .obj.drone-jn {
  background-image: url('../img/grid_obj_drone_jn.png');
}
.grid-item .circle .obj.drone-bb8 {
  background-image: url('../img/grid_obj_drone_bb8.png');
}
.grid-item .circle .obj.gearvr {
  background-image: url('../img/grid_obj_gearvr.png');
}
.grid-item .circle .obj.jvcsr525 {
  background-image: url('../img/grid_obj_jvcsr525.png');
}
.grid-item .circle .obj.wicam {
  background-image: url('../img/grid_obj_wicam.png');
}
.grid-item .circle .obj.icookie {
  background-image: url('../img/grid_obj_icookie.png');
}
.grid-item .circle .obj.alcatelotw {
  background-image: url('../img/grid_obj_alcatelotw.png');
}
.grid-item .circle .obj.withings-ap {
  background-image: url('../img/grid_obj_withings_ap.png');
}
.grid-item .circle .obj.mykronozzc {
  background-image: url('../img/grid_obj_mykronozzc.png');
}
.grid-item .circle .obj.fitbitaria {
  background-image: url('../img/grid_obj_fitbitaria.png');
}
.grid-item .circle .obj.fitbitcharge {
  background-image: url('../img/grid_obj_fitbitcharge.png');
}
.grid-item .circle .obj.smartband {
  background-image: url('../img/grid_obj_smartband.png');
}
.grid-item .circle .obj.gears2 {
  background-image: url('../img/grid_obj_gears2.png');
}
.grid-item .circle .obj.zefit2 {
  background-image: url('../img/grid_obj_zefit2.png');
}
.grid-item .circle .obj.backbeat {
  background-image: url('../img/grid_obj_backbeat.png');
}
.grid-item .circle .obj.ocs {
  background-image: url('../img/grid_obj_ocs.png');
}
.grid-item .circle .obj.epresse {
  background-image: url('../img/grid_obj_epresse.png');
}
.grid-item .circle .obj.lanextend {
  background-image: url('../img/grid_obj_lanextend.png');
}
.grid-item .circle .obj.colorlight {
  background-image: url('../img/grid_obj_colorlight.png');
}
.grid-item .circle .obj.thomsonws03 {
  background-image: url('../img/grid_obj_thomsonws03.png');
}
.grid-item .circle .obj.homepoint {
  background-image: url('../img/grid_obj_homepoint.png');
}
.grid-item .circle .obj.muse-m710 {
  background-image: url('../img/grid_obj_muse_m710.png');
}
.grid-item .circle .obj.jbl-go {
  background-image: url('../img/grid_obj_jbl_go.png');
}
.grid-item .circle .obj.drone-jumpingrace {
  background-image: url('../img/grid_obj_drone_jumpingrace.png');
}
.grid-item .circle .obj.reckey {
  background-image: url('../img/grid_obj_reckey.png');
}
.grid-item .circle .obj.supertooth {
  background-image: url('../img/grid_obj_supertooth.png');
}
.grid-item .circle .obj.jabratour {
  background-image: url('../img/grid_obj_jabratour.png');
}
.grid-item .circle .obj.zeround {
  background-image: url('../img/grid_obj_zeround.png');
}
.grid-item .info {
  display: none;
}
.grid-item .gi-front,
.grid-item .gi-back {
  height: 100%;
  position: absolute;
  width: 100%;
}
.grid-item .gi-front .word,
.grid-item .gi-back .word {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.9vw;
  color: #e06618;
}
.grid-item .gi-front .word.hide,
.grid-item .gi-back .word.hide {
  display: none;
}
.grid-item .gi-front {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.grid-item .gi-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: table;
}
.grid-item.flip .gi-front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.grid-item.flip .gi-back {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
.grid-item.obj .gi-front {
  background: #000;
}
.grid-item.orange .gi-front,
.grid-item.bgclr-orange {
  background: #f16e00;
}
.grid-item.grey .gi-front,
.grid-item.bgclr-grey {
  background: #858585;
}
.grid-item.darkgrey .gi-front,
.grid-item.bgclr-darkgrey {
  background: #303030;
}
.grid-item.purple .gi-front,
.grid-item.bgclr-purple {
  background: #b191dc;
}
.grid-item.blue .gi-front,
.grid-item.bgclr-blue {
  background: #6fc3eb;
}
.grid-item.pink .gi-front,
.grid-item.bgclr-pink {
  background: #ffc3eb;
}
.grid-item.green .gi-front,
.grid-item.bgclr-green {
  background: #62c593;
}
.grid-item.yellow .gi-front,
.grid-item.bgclr-yellow {
  background: #ffdb33;
}
.grid-item .info {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  padding: 5%;
}
.grid-item .info .orange {
  color: #f60;
}
.grid-item.btnmore .btnmore-bg {
  display: table;
  background: #f16e00;
  height: 100%;
  width: 100%;
}
.grid-item.btnmore .btnmore-bg a {
  font-family: 'orangesans55', sans-serif;
  color: #fff;
  display: table-cell;
  font-size: 1.8vw;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
}
.grid-item.btnmore .btnmore-bg a span {
  display: block;
  font-size: 5.5vw;
  font-weight: bold;
  line-height: 3.6vw;
}
.grid-item-2x2,
.grid-item-1x2,
.grid-item-2x1,
.grid-item-1x3 {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background: #000;
  float: left;
  position: relative;
}
.obj-big-wrap {
  background-color: #000;
}
.obj-big-wrap .obj-big {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 3;
  background-size: contain;
}
.obj-big-wrap .obj-big.montre {
  background-image: url('../img/grid_obj_montre_tr_big.png');
}
.obj-big-wrap .obj-big.meteoclimate {
  background-image: url('../img/grid_obj_meteoclimate_tr_big.png');
}
.obj-big-wrap .obj-big.balance {
  background-image: url('../img/grid_obj_balance_tr_big.png');
}
.obj-big-wrap .obj-big.sensemother {
  background-image: url('../img/grid_obj_sensemother_tr_big.png');
}
.obj-big-wrap .obj-big.jumparrot {
  background-image: url('../img/grid_obj_jumparrot_tr_big.png');
}
.obj-big-wrap .obj-big.goprohero {
  background-image: url('../img/grid_obj_goprohero_tr_big.png');
}
.obj-big-wrap .obj-big.colorcube {
  background-image: url('../img/grid_obj_colorcube_tr_big.png');
}
.obj-big-wrap .obj-big.meteo {
  background-image: url('../img/grid_obj_meteo_tr_big.png');
}
.obj-big-wrap .obj-big.striimlight {
  background-image: url('../img/grid_obj_striimlight_tr_big.png');
}
.obj-big-wrap .obj-big.smartlight {
  background-image: url('../img/grid_obj_smartlight_tr_big.png');
}
.obj-big-wrap .obj-big.aromalight {
  background-image: url('../img/grid_obj_aromalight_tr_big.png');
}
.obj-big-wrap .obj-big.flowerpower {
  background-image: url('../img/grid_obj_flowerpower_tr_big.png');
}
.obj-big-wrap .obj-big.clavier {
  background-image: url('../img/grid_obj_clavier_tr_big.png');
}
.obj-big-wrap .obj-big.liveplughd {
  background-image: url('../img/grid_obj_liveplughd_tr_big.png');
}
.obj-big-wrap .obj-big.liveplugwifi {
  background-image: url('../img/grid_obj_liveplugwifi_tr_big.png');
}
.obj-big-wrap .obj-big.wifiextend {
  background-image: url('../img/grid_obj_wifiextend_tr_big.png');
}
.obj-big-wrap .obj-big.batteriedesecours {
  background-image: url('../img/grid_obj_batteriedesecours_big.png');
}
.obj-big-wrap .obj-big.airboxauto {
  background-image: url('../img/grid_obj_airboxauto_big.png');
}
.obj-big-wrap .obj-big.montre-gears2 {
  background-image: url('../img/grid_obj_montregears2_tr_big.png');
}
.obj-big-wrap .obj-big.montre-onetouch {
  background-image: url('../img/grid_obj_montreonetouch_tr_big.png');
}
.obj-big-wrap .obj-big.lafibre {
  background-image: url('../img/grid_obj_lafibre_tr_big.png');
}
.obj-big-wrap .obj-big.deezer {
  background-image: url('../img/grid_obj_deezer_tr_big.png');
}
.obj-big-wrap .obj-big.lecloud {
  background-image: url('../img/grid_obj_lecloud_tr_big.png');
}
.obj-big-wrap .obj-big.la4g {
  background-image: url('../img/grid_obj_la4g_tr_big.png');
}
.obj-big-wrap .obj-big.cam4g {
  background-image: url('../img/grid_obj_cam_4g_tr_big.png');
}
.obj-big-wrap .obj-big.drone-bt {
  background-image: url('../img/grid_obj_drone_bt_tr_big.png');
}
.obj-big-wrap .obj-big.drone-cm {
  background-image: url('../img/grid_obj_drone_cm_tr_big.png');
}
.obj-big-wrap .obj-big.drone-jn {
  background-image: url('../img/grid_obj_drone_jn_tr_big.png');
}
.obj-big-wrap .obj-big.drone-bb8 {
  background-image: url('../img/grid_obj_drone_bb8_tr_big.png');
}
.obj-big-wrap .obj-big.gearvr {
  background-image: url('../img/grid_obj_gearvr_tr_big.png');
}
.obj-big-wrap .obj-big.jvcsr525 {
  background-image: url('../img/grid_obj_jvcsr525_tr_big.png');
}
.obj-big-wrap .obj-big.wicam {
  background-image: url('../img/grid_obj_wicam_tr_big.png');
}
.obj-big-wrap .obj-big.jumpsumo {
  background-image: url('../img/grid_obj_jumpsumo_tr_big.png');
}
.obj-big-wrap .obj-big.icookie {
  background-image: url('../img/grid_obj_icookie_tr_big.png');
}
.obj-big-wrap .obj-big.alcatelotw {
  background-image: url('../img/grid_obj_alcatelotw_tr_big.png');
}
.obj-big-wrap .obj-big.withings-ap {
  background-image: url('../img/grid_obj_withings_ap_tr_big.png');
}
.obj-big-wrap .obj-big.mykronozzc {
  background-image: url('../img/grid_obj_mykronozzc_tr_big.png');
}
.obj-big-wrap .obj-big.fitbitaria {
  background-image: url('../img/grid_obj_fitbitaria_tr_big.png');
}
.obj-big-wrap .obj-big.fitbitcharge {
  background-image: url('../img/grid_obj_fitbitcharge_tr_big.png');
}
.obj-big-wrap .obj-big.smartband {
  background-image: url('../img/grid_obj_smartband_tr_big.png');
}
.obj-big-wrap .obj-big.gears2 {
  background-image: url('../img/grid_obj_gears2_tr_big.png');
}
.obj-big-wrap .obj-big.zefit2 {
  background-image: url('../img/grid_obj_zefit2_tr_big.png');
}
.obj-big-wrap .obj-big.airbox4g {
  background-image: url('../img/grid_obj_airbox4g_tr_big.png');
}
.obj-big-wrap .obj-big.backbeat {
  background-image: url('../img/grid_obj_backbeat_tr_big.png');
}
.obj-big-wrap .obj-big.ocs {
  background-image: url('../img/grid_obj_ocs_tr_big.png');
}
.obj-big-wrap .obj-big.epresse {
  background-image: url('../img/grid_obj_epresse_tr_big.png');
}
.obj-big-wrap .obj-big.lanextend {
  background-image: url('../img/grid_obj_lanextend_tr_big.png');
}
.obj-big-wrap .obj-big.colorlight {
  background-image: url('../img/grid_obj_colorlight_tr_big.png');
}
.obj-big-wrap .obj-big.thomsonws03 {
  background-image: url('../img/grid_obj_thomsonws03_tr_big.png');
}
.obj-big-wrap .obj-big.homepoint {
  background-image: url('../img/grid_obj_homepoint_tr_big.png');
}
.obj-big-wrap .obj-big.muse-m710 {
  background-image: url('../img/grid_obj_muse_m710_tr_big.png');
}
.obj-big-wrap .obj-big.jbl-go {
  background-image: url('../img/grid_obj_jbl_go_tr_big.png');
}
.obj-big-wrap .obj-big.drone-jumpingrace {
  background-image: url('../img/grid_obj_drone_jumpingrace_tr_big.png');
}
.obj-big-wrap .obj-big.reckey {
  background-image: url('../img/grid_obj_reckey_tr_big.png');
}
.obj-big-wrap .obj-big.supertooth {
  background-image: url('../img/grid_obj_supertooth_tr_big.png');
}
.obj-big-wrap .obj-big.jabratour {
  background-image: url('../img/grid_obj_jabratour_tr_big.png');
}
.obj-big-wrap .obj-big.zeround {
  background-image: url('../img/grid_obj_zeround_tr_big.png');
}
.obj-description,
.page-description {
  color: #fff;
  padding: 2%;
  background: #232323;
}
.obj-description h1,
.page-description h1 {
  font-size: 2.8vw;
  font-family: 'orangesans65', sans-serif;
  padding-bottom: 1.2vw;
  line-height: 1.2;
  margin-right: -4%;
  color: #ff6600;
}
.obj-description p,
.page-description p {
  font-family: 'orangesans55', sans-serif;
  font-size: 1.3vw;
  line-height: 1.2;
  padding-bottom: 1.4vw;
}
.obj-description p a,
.page-description p a {
  color: #FFF;
  text-decoration: underline;
}
.obj-description p .comingsoon,
.page-description p .comingsoon {
  color: #f16e00;
  font-family: 'orangesans75', sans-serif;
  display: block;
  font-size: 2.2vw;
  padding: .1vw 0 0;
}
.obj-description p .small,
.page-description p .small {
  font-size: 1vw;
}
.obj-description p.intro,
.page-description p.intro {
  font-family: 'orangesans65', sans-serif;
  font-size: 1.5vw;
  padding-bottom: 2vw;
}
.obj-description ul.desc-list,
.page-description ul.desc-list {
  padding: 0 0 0 2vw;
}
.obj-description ul.desc-list li,
.page-description ul.desc-list li {
  font-family: 'orangesans55', sans-serif;
  font-size: 1.7vw;
  line-height: 1.2;
  padding-bottom: 1.4vw;
  list-style: outside disc;
}
.obj-description ul.desc-list li strong,
.page-description ul.desc-list li strong {
  font-family: 'orangesans75', sans-serif;
  font-weight: normal;
}
.obj-inclus p {
  font-family: 'orangesans65', sans-serif;
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.2;
  padding: 1.6vw 0;
  text-align: center;
}
.obj-inclus p .orange {
  color: #f16e00;
}
.obj-inclus img {
  display: block;
  width: 100%;
  height: auto;
}
.obj-video {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.obj-video.montre {
  background-image: url('../img/grid_obj_montre_video.png');
}
.obj-video.meteoclimate {
  background-image: url('../img/grid_obj_meteoclimate_video.png');
}
.obj-video.balance {
  background-image: url('../img/grid_obj_balance_video.png');
}
.obj-video.sensemother {
  background-image: url('../img/grid_obj_sensemother_video.png');
}
.obj-video.jumparrot {
  background-image: url('../img/grid_obj_jumparrot_video.png');
}
.obj-video.goprohero {
  background-image: url('../img/grid_obj_goprohero_video.png');
}
.obj-video.colorcube {
  background-image: url('../img/grid_obj_colorcube_video.png');
}
.obj-video.meteo {
  background-image: url('../img/grid_obj_meteo_video.png');
}
.obj-video.striimlight {
  background-image: url('../img/grid_obj_striimlight_video.png');
}
.obj-video.smartlight {
  background-image: url('../img/grid_obj_smartlight_video.png');
}
.obj-video.aromalight {
  background-image: url('../img/grid_obj_aromalight_video.png');
}
.obj-video.flowerpower {
  background-image: url('../img/grid_obj_flowerpower_video.png');
}
.obj-video.clavier {
  background-image: url('../img/grid_obj_clavier_video.png');
}
.obj-video.liveplughd {
  background-image: url('../img/grid_obj_liveplughd_video.png');
}
.obj-video.liveplugwifi {
  background-image: url('../img/grid_obj_liveplugwifi_video.png');
}
.obj-video.wifiextend {
  background-image: url('../img/grid_obj_wifiextend_video.png');
}
.obj-video.batteriedesecours {
  background-image: url('../img/grid_obj_batteriedesecours_video.png');
}
.obj-video.airboxauto {
  background-image: url('../img/grid_obj_airboxauto_video.png');
}
.obj-video.montre-gears2 {
  background-image: url('../img/grid_obj_montregears2_video.png');
}
.obj-video.lafibre {
  background-image: url('../img/grid_obj_lafibre_video.png');
}
.obj-video.fitbitaria {
  background-image: url('../img/grid_obj_fitbitaria_video.png');
}
.obj-video.withings-ap {
  background-image: url('../img/grid_obj_withings_ap_video.png');
}
.obj-video.gears2 {
  background-image: url('../img/grid_obj_gears2_video.png');
}
.obj-video.cam4g {
  background-image: url('../img/grid_obj_cam_4g_video.png');
}
.obj-video.la4g,
.obj-video.lecloud,
.obj-video.deezer {
  background: #000;
}
.obj-video .btn-video {
  background: url('../img/picto_video_play.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.obj-photo {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.obj-photo.montre {
  background-image: url('../img/grid_obj_montre_photo_1x3.png');
}
.obj-photo.meteoclimate {
  background-image: url('../img/grid_obj_meteoclimate_photo_1x3.png');
}
.obj-photo.balance {
  background-image: url('../img/grid_obj_balance_photo_1x3.png');
}
.obj-photo.sensemother {
  background-image: url('../img/grid_obj_sensemother_photo_1x3.png');
}
.obj-photo.jumparrot {
  background-image: url('../img/grid_obj_jumparrot_photo_1x3.png');
}
.obj-photo.goprohero {
  background-image: url('../img/grid_obj_goprohero_photo_1x3.png');
}
.obj-photo.colorcube {
  background-image: url('../img/grid_obj_colorcube_photo_1x3.png');
}
.obj-photo.meteo {
  background-image: url('../img/grid_obj_meteo_photo_1x3.png');
}
.obj-photo.striimlight {
  background-image: url('../img/grid_obj_striimlight_photo_1x3.png');
}
.obj-photo.smartlight {
  background-image: url('../img/grid_obj_smartlight_photo_1x3.png');
}
.obj-photo.aromalight {
  background-image: url('../img/grid_obj_aromalight_photo_1x3.png');
}
.obj-photo.flowerpower {
  background-image: url('../img/grid_obj_flowerpower_photo_1x3.png');
}
.obj-photo.clavier {
  background-image: url('../img/grid_obj_clavier_photo_1x3.png');
}
.obj-photo.liveplughd {
  background-image: url('../img/grid_obj_liveplughd_photo_1x3.png');
}
.obj-photo.liveplugwifi {
  background-image: url('../img/grid_obj_liveplugwifi_photo_1x3.png');
}
.obj-photo.wifiextend {
  background-image: url('../img/grid_obj_wifiextend_photo_1x3.png');
}
.obj-photo.batteriedesecours {
  background-image: url('../img/grid_obj_batteriedesecours_photo_1x3.png');
}
.obj-photo.airboxauto {
  background-image: url('../img/grid_obj_airboxauto_photo_1x3.png');
}
.obj-photo.montre-gears2 {
  background-image: url('../img/grid_obj_montregears2_photo_1x3.png');
}
.obj-photo.montre-onetouch {
  background-image: url('../img/grid_obj_montreonetouch_photo_1x3.png');
}
.obj-photo.lafibre {
  background-image: url('../img/grid_obj_lafibre_photo_1x3.png');
}
.obj-photo.deezer {
  background-image: url('../img/grid_obj_deezer_photo_1x3.png');
}
.obj-photo.lecloud {
  background-image: url('../img/grid_obj_lecloud_photo_1x3.png');
}
.obj-photo.la4g {
  background-image: url('../img/grid_obj_la4g_photo_1x3.png');
}
.obj-photo.drone-bt {
  background-image: url('../img/grid_obj_drone_bt_photo_1x3.png');
}
.obj-photo.drone-cm {
  background-image: url('../img/grid_obj_drone_cm_photo_1x3.png');
}
.obj-photo.drone-jn {
  background-image: url('../img/grid_obj_drone_jn_photo_1x3.png');
}
.obj-photo.drone-bb8 {
  background-image: url('../img/grid_obj_drone_bb8_photo_1x3.png');
}
.obj-photo.gearvr {
  background-image: url('../img/grid_obj_gearvr_photo_1x3.png');
}
.obj-photo.jvcsr525 {
  background-image: url('../img/grid_obj_jvcsr525_photo_1x3.png');
}
.obj-photo.wicam {
  background-image: url('../img/grid_obj_wicam_photo_1x3.png');
}
.obj-photo.jumpsumo {
  background-image: url('../img/grid_obj_jumpsumo_photo_1x3.png');
}
.obj-photo.cam4g {
  background-image: url('../img/grid_obj_cam_4g_photo_1x3.png');
}
.obj-photo.icookie {
  background-image: url('../img/grid_obj_icookie_photo_1x3.png');
}
.obj-photo.alcatelotw {
  background-image: url('../img/grid_obj_alcatelotw_photo_1x3.png');
}
.obj-photo.withings-ap {
  background-image: url('../img/grid_obj_withings_ap_photo_1x3.png');
}
.obj-photo.mykronozzc {
  background-image: url('../img/grid_obj_mykronozzc_photo_1x3.png');
}
.obj-photo.fitbitaria {
  background-image: url('../img/grid_obj_fitbitaria_photo_1x3.png');
}
.obj-photo.fitbitcharge {
  background-image: url('../img/grid_obj_fitbitcharge_photo_1x3.png');
}
.obj-photo.smartband {
  background-image: url('../img/grid_obj_smartband_photo_1x3.png');
}
.obj-photo.gears2 {
  background-image: url('../img/grid_obj_gears2_photo_1x3.png');
}
.obj-photo.zefit2 {
  background-image: url('../img/grid_obj_zefit2_photo_1x3.png');
}
.obj-photo.airbox4g {
  background-image: url('../img/grid_obj_airbox4g_photo_1x3.png');
}
.obj-photo.backbeat {
  background-image: url('../img/grid_obj_backbeat_photo_1x3.png');
}
.obj-photo.ocs {
  background-image: url('../img/grid_obj_ocs_photo_1x3.png');
}
.obj-photo.epresse {
  background-image: url('../img/grid_obj_epresse_photo_1x3.png');
}
.obj-photo.lanextend {
  background-image: url('../img/grid_obj_lanextend_photo_1x3.png');
}
.obj-photo.colorlight {
  background-image: url('../img/grid_obj_colorlight_photo_1x3.png');
}
.obj-photo.thomsonws03 {
  background-image: url('../img/grid_obj_thomsonws03_photo_1x3.png');
}
.obj-photo.homepoint {
  background-image: url('../img/grid_obj_homepoint_photo_1x3.png');
}
.obj-photo.muse-m710 {
  background-image: url('../img/grid_obj_muse_m710_photo_1x3.png');
}
.obj-photo.jbl-go {
  background-image: url('../img/grid_obj_jbl_go_photo_1x3.png');
}
.obj-photo.drone-jumpingrace {
  background-image: url('../img/grid_obj_drone_jumpingrace_photo_1x3.png');
}
.obj-photo.reckey {
  background-image: url('../img/grid_obj_reckey_photo_1x3.png');
}
.obj-photo.supertooth {
  background-image: url('../img/grid_obj_supertooth_photo_1x3.png');
}
.obj-photo.jabratour {
  background-image: url('../img/grid_obj_jabratour_photo_1x3.png');
}
.obj-photo.zeround {
  background-image: url('../img/grid_obj_zeround_photo_1x3.png');
}
.obj-spec {
  display: block;
}
.obj-spec .fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  background-color: #555;
}
.obj-spec .picto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  background-size: contain;
}
.obj-spec .picto.maison {
  left: -3px;
}
.obj-spec .picto.maison.wifi {
  left: -8px;
}
.obj-spec .picto.deplacement.la4g {
  left: 2px;
}
.obj-spec .picto.deplacement.bluetooth {
  left: 5px;
}
.obj-spec .picto.deplacement.wifi {
  left: -1px;
}
.obj-spec .picto.bluetooth {
  background-image: url('../img/picto_spec_bluetooth.png');
}
.obj-spec .picto.usb {
  background-image: url('../img/picto_spec_usb.png');
}
.obj-spec .picto.la4g {
  background-image: url('../img/picto_spec_4g.png');
}
.obj-spec .picto.cpl {
  background-image: url('../img/picto_spec_cpl.png');
}
.obj-spec .picto.bluetooth_eau {
  background-image: url('../img/picto_spec_bluetooth_eau.png');
}
.obj-spec .picto.bluetooth_hp {
  background-image: url('../img/picto_spec_bluetooth_hp.png');
}
.obj-spec .picto.bluetooth_micro {
  background-image: url('../img/picto_spec_bluetooth_micro.png');
}
.obj-spec .picto.bluetooth_pile {
  background-image: url('../img/picto_spec_bluetooth_pile.png');
}
.obj-spec .picto.bluetooth_usb {
  background-image: url('../img/picto_spec_bluetooth_usb.png');
}
.obj-spec .picto.wifi_pile {
  background-image: url('../img/picto_spec_wifi_pile.png');
}
.obj-spec .picto.wifi {
  background-image: url('../img/picto_spec_wifi.png');
}
.obj-spec .picto.wifi_4k {
  background-image: url('../img/picto_spec_wifi_4k.png');
}
.obj-spec .picto.wifi_5g {
  background-image: url('../img/picto_spec_wifi_5ghz.png');
}
.obj-spec .picto.pile_110v {
  background-image: url('../img/picto_spec_110v_pile.png');
}
.obj-spec .picto.zwave_temp {
  background-image: url('../img/picto_spec_zwave_temp.png');
}
.obj-spec .picto.zwave_pile {
  background-image: url('../img/picto_spec_zwave_pile.png');
}
.obj-spec .picto.batteriedesecours {
  background-image: url('../img/picto_spec_multiconnec.png');
}
.obj-spec .picto.airboxauto {
  background-image: url('../img/grid_obj_airboxauto_spec.png');
}
.obj-spec-1.lafibre {
  background-image: url('../img/grid_obj_lafibre_spec_1.png');
}
.obj-spec-2.lafibre {
  background-image: url('../img/grid_obj_lafibre_spec_2.png');
}
.obj-spec-3.lafibre {
  background-image: url('../img/grid_obj_lafibre_spec_3.png');
}
.obj-spec-1.la4g {
  background-image: url('../img/grid_obj_la4g_spec_1.png');
}
.obj-spec-2.la4g {
  background-image: url('../img/grid_obj_la4g_spec_2.png');
}
.obj-spec-3.la4g {
  background-image: url('../img/grid_obj_la4g_spec_3.png');
}
.obj-spec-1.lecloud {
  background-image: url('../img/grid_obj_lecloud_spec_1.png');
}
.obj-spec-2.lecloud {
  background-image: url('../img/grid_obj_lecloud_spec_2.png');
}
.obj-spec-3.lecloud {
  background-image: url('../img/grid_obj_lecloud_spec_3.png');
}
.obj-spec-1.deezer {
  background-image: url('../img/grid_obj_deezer_spec_1.png');
}
.obj-spec-2.deezer {
  background-image: url('../img/grid_obj_deezer_spec_2.png');
}
.obj-spec-3.deezer {
  background-image: url('../img/grid_obj_deezer_spec_3.png');
}
.obj-spec-1.ocs {
  background-image: url('../img/grid_obj_ocs_spec_1.png');
}
.obj-spec-2.ocs {
  background-image: url('../img/grid_obj_ocs_spec_2.png');
}
.obj-spec-3.ocs {
  background-image: url('../img/grid_obj_ocs_spec_3.png');
}
.obj-spec-1.epresse {
  background-image: url('../img/grid_obj_epresse_spec_1.png');
}
.obj-spec-2.epresse {
  background-image: url('../img/grid_obj_epresse_spec_2.png');
}
.obj-spec-3.epresse {
  background-image: url('../img/grid_obj_epresse_spec_3.png');
}
.spec-txt-1,
.spec-txt-3 {
  display: block;
  font-size: 0.9vw;
  padding: 2vw 0 0;
  line-height: 1.1vw;
  color: #000;
  text-align: center;
}
.spec-txt-3 {
  color: #FFF;
  padding: 1.1vw 0 0;
  font-size: 1vw;
  line-height: 1.2vw;
}
.spec-txt-2 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.9vw;
  padding: 0 0 1.5vw ;
  line-height: 1.1vw;
  color: #FFF;
  text-align: center;
  width: 100%;
}
.obj-spec-1,
.obj-spec-2,
.obj-spec-3 {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.obj-extra-txt {
  display: table;
  padding: 0 2%;
}
.obj-extra-txt p {
  display: table-cell;
  color: #fff;
  font-family: 'orangesans35', sans-serif;
  font-size: 1.3vw;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
}
.video-player-wrapper {
  display: none;
}
body.idle .grid-item.idle-highlight {
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
}
body.idle .grid-item.idle-highlight .highlight-hand {
  background-image: url("../img/picto_touch.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 58%;
  position: absolute;
  right: -74%;
  top: 32%;
  width: 100%;
  z-index: 10;
}
body.idle .grid-item.idle-highlight .highlight-hand span {
  color: #fff;
  font-size: 3vw;
  left: 8vw;
  position: absolute;
  text-align: center;
  top: 2.8vw;
  width: 30vw;
  font-family: 'orangesans75', sans-serif;
}
.grid-item[data-ol="7"].idle-highlight .highlight-hand,
.grid-item[data-ol="3"].idle-highlight .highlight-hand,
.grid-item[data-ol="4"].idle-highlight .highlight-hand,
.grid-item[data-ol="9"].idle-highlight .highlight-hand,
.grid-item[data-ol="14"].idle-highlight .highlight-hand,
.grid-item[data-ol="15"].idle-highlight .highlight-hand {
  background-image: url('../img/picto_touch_reverse.png');
  left: -42%;
  right: auto;
}
.grid-item[data-ol="7"].idle-highlight .highlight-hand span,
.grid-item[data-ol="3"].idle-highlight .highlight-hand span,
.grid-item[data-ol="4"].idle-highlight .highlight-hand span,
.grid-item[data-ol="9"].idle-highlight .highlight-hand span,
.grid-item[data-ol="14"].idle-highlight .highlight-hand span,
.grid-item[data-ol="15"].idle-highlight .highlight-hand span {
  right: 14vw;
  left: auto;
}
.maildebase {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.txtmail {
  font-family: 'orangesans65', sans-serif;
  bottom: 20%;
  color: #fff;
  font-size: 1.4vw;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.grid-item.yellow .txtmail,
.grid-item.yellow .mailtxt {
  color: #444444;
}
.grid-item.yellow .formmail input[type="submit"] {
  border: 1px solid #444;
  color: #444444;
}
.inputmail {
  font-family: 'orangesans65', sans-serif;
  background: #fff none repeat scroll 0 0;
  border: 0 none;
  color: #333;
  font-size: 1.1vw;
  height: 2.8vw;
  margin: 0 auto;
  padding: 0 .6vw;
  text-align: center;
  width: 90%;
}
.divblocmail {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.mailtxt {
  font-family: 'orangesans65', sans-serif;
  color: #fff;
  font-size: 1.1vw;
  margin-top: 31%;
  text-align: center;
  width: 100%;
}
.alertmail {
  font-family: 'orangesans65', sans-serif;
  background: #f60 none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 1vw;
  height: 1.6vw;
  line-height: 1.6vw;
  position: absolute;
  text-align: center;
  width: 100%;
}
.reponsemail .mailtxt {
  margin-top: 66%;
}
.picto-mail {
  background: url('../img/picto_mail.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.formmail input[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.1vw;
  height: 2.8vw;
  margin: .8vw auto 0;
  text-align: center;
  width: 90%;
}
.category-bloc {
  background: #000;
  overflow: hidden;
}
.category-bloc .overlay {
  background-image: url('../img/grid_overlay_maison.png');
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 200;
}
.category-bloc .overlay.fun {
  background-image: url('../img/grid_overlay_fun.png');
}
.category-bloc .overlay.endep {
  background-image: url('../img/grid_overlay_endep.png');
}
.category-bloc .overlay.bien-etre {
  background-image: url('../img/grid_overlay_bien_etre.png');
}
.category-bloc .txt-default,
.category-bloc .txt-newline {
  font-size: 3.7vw;
  color: #fff;
  text-align: center;
  z-index: 10;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}
.category-bloc .txt-default p,
.category-bloc .txt-newline p {
  display: table-cell;
  vertical-align: middle;
}
.category-bloc .txt-default.endep p,
.category-bloc .txt-newline.endep p {
  padding-top: 26%;
  vertical-align: top;
}
.category-bloc .txt-newline {
  left: 0;
  top: 100%;
  font-size: 2.8vw;
}
.mailform.orange {
  background: #ff6600;
}
/*DEBUT COMPARATEUR*/
.timerblock {
  width: 100%;
  position: absolute;
  top: 21%;
  bottom: 21%;
  background-color: #ff6600;
  border-top: solid 4px #ffffff;
  border-bottom: solid 4px #ffffff;
}
.timer {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
}
.timer-base {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  width: 70%;
}
.timer-needle {
  position: relative;
  top: 0;
  left: 47%;
  width: 5%;
  -webkit-transform-origin: center 90%;
  transform-origin: center 90%;
  -webkit-animation: 1s c infinite linear;
  animation: 1s c infinite linear;
}
.timerh {
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 79%;
  background-color: #000;
  color: #ffffff;
  text-align: center;
}
.timerh p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
  line-height: 2vw;
}
.timerh p span {
  color: #ff6600;
  font-size: 1.8vw;
}
.timerb {
  width: 100%;
  position: absolute;
  top: 79%;
  bottom: 0%;
  background-color: #000;
  color: #ffffff;
  text-align: center;
  font-size: 1.8vw;
}
.timerb p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.timerb p span {
  color: #ff6600;
}
.comparateur {
  position: absolute;
  width: 100%;
  height: 94.4%;
  top: 5.6%;
  bottom: 0%;
}
.comparateurquit {
  display: block;
  position: absolute;
  width: 99.2%;
  height: 5%;
  top: 0.6%;
  left: 0.4%;
  right: 0.4%;
  bottom: 95%;
  background-color: #ff6600;
}
.comparateurquit p {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.comparateurquit p.f {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 98%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
@-webkit-keyframes c {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes c {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
/*FIN COMPARATEUR*/
body.petal-endep .category-bloc .txt-default {
  font-size: 3vw;
}
body.petal-endep .category-bloc .txt-newline.endep p {
  padding: 0;
  vertical-align: middle;
}
.lecloud {
  display: table;
  height: 100%;
  width: 100%;
}
.cloudimg {
  width: 33%;
  float: left;
  padding: 12% 4% 0 6%;
}
.cloudp {
  color: #FFF;
  float: left;
  font-size: 1.5vw;
  padding-top: 18%;
}
.desktop-only {
  display: block !important;
}
.mobile-only {
  display: none !important;
}
.tablet-only {
  display: none !important;
}
.desktop-hide {
  display: none;
}
.mobile-hide {
  display: block;
}
.tablet-hide {
  display: block;
}
@media (max-width: 1200px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: none !important;
  }
  .tablet-only {
    display: block !important;
  }
  .desktop-hide {
    display: block;
  }
  .mobile-hide {
    display: block;
  }
  .tablet-hide {
    display: none;
  }
  html,
  body {
    height: auto;
    font-size: 100%;
    overflow: auto;
  }
  .grid-item-2x2.obj-description {
    float: right;
  }
  #homelive-abonnement .avantage .picto {
    margin: 0 auto;
  }
  #homelive-abonnement .avantage p {
    font-size: 1.8vw;
    margin: -4.1vw 0 0;
    text-align: center;
  }
  #homelive-abonnement .avantage p br {
    display: none;
  }
  #homelive-abonnement .grid-item-om-1x2.avantage .picto {
    width: 46%;
  }
  #homelive-abonnement .grid-item-om-1x2.avantage p {
    font-size: 1.7vw;
    margin: -4.5vw 0 0;
  }
  #homelive-abonnement .page-title p {
    font-size: 6vw;
  }
  #homelive-pack .pack-picto p {
    font-size: 2.2vw;
    padding: 15.8vw 0 0;
  }
  #homelive-appli .interactions p {
    font-size: 2.4vw;
    text-align: center;
  }
  #homelive-appli .picto p {
    font-size: 2.6vw;
  }
  .obj-description h1,
  .page-description h1 {
    font-size: 5vw;
    line-height: 1.2;
    margin-right: 0;
    padding-bottom: 2.2vw;
    line-height: 1;
  }
  .obj-description h1 br,
  .page-description h1 br {
    display: none;
  }
  .obj-description p.intro,
  .page-description p.intro {
    font-size: 2.6vw;
    padding-bottom: 2vw;
  }
  .obj-description p.intro br,
  .page-description p.intro br {
    display: none;
  }
  .obj-description p,
  .page-description p {
    font-size: 1.9vw;
  }
  .obj-video .btn-video {
    font-size: 3.7vw;
  }
  .obj-extra-txt p {
    font-size: 2vw;
  }
  .obj-inclus p {
    font-size: 2.2vw;
  }
  .grid-wrapper.active .grid-item .info {
    font-size: 3vw;
    line-height: 1.2;
  }
  .grid-item.menu-btn p {
    font-size: 2.6vw;
  }
  .cloudimg {
    width: 40%;
    float: left;
    padding: 10% 4% 0 6%;
  }
  .cloudp {
    color: #FFF;
    float: left;
    font-size: 1.9vw;
    padding-top: 21%;
  }
}
@media (max-width: 600px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
  .tablet-only {
    display: none !important;
  }
  .desktop-hide {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  .tablet-hide {
    display: block;
  }
  body {
    padding: 0 0 18vw;
  }
  .grid-item-2x2.obj-description {
    float: left;
  }
  .obj-description h1,
  .page-description h1 {
    font-size: 13vw;
    padding-bottom: 4vw;
  }
  .obj-description p,
  .page-description p {
    font-size: 4vw;
    padding-bottom: 3vw;
  }
  .obj-description p.intro,
  .page-description p.intro {
    font-size: 5vw;
    padding-bottom: 5vw;
  }
  .obj-description p.intro br,
  .page-description p.intro br {
    display: none;
  }
  .obj-inclus p {
    font-size: 3.6vw;
    padding: 4vw 0;
  }
  .obj-extra-txt p {
    font-size: 4vw;
  }
  .obj-extra-txt p br {
    display: none;
  }
  .obj-video .btn-video {
    font-size: 6vw;
    padding: 2vw 5vw;
    right: 4vw;
    bottom: 4vw;
  }
  .grid-wrapper.active .grid-item .info {
    font-size: 6vw;
  }
  .grid-item.menu-btn p {
    font-size: 5vw;
  }
  #homelive-abonnement .page-title.mobile-only {
    display: table !important;
  }
  #homelive-abonnement .page-title.mobile-only p {
    font-size: 6.4vw;
  }
  #homelive-abonnement .avantage .picto {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 84%;
  }
  #homelive-abonnement .avantage p {
    font-size: 5vw;
    text-align: center;
    padding: 0 0 5vw;
    margin-right: 0;
  }
  #homelive-abonnement .avantage p br {
    display: none;
  }
  #homelive-abonnement .grid-item-om-1x2.avantage .picto {
    width: 84%;
  }
  #homelive-abonnement .grid-item-om-1x2.avantage p {
    font-size: 5vw;
    margin: -4.1vw 0 0;
  }
  #homelive-appli .picto p {
    font-size: 5vw;
  }
  #homelive-appli .interactions p {
    font-size: 4vw;
    padding: 9vw 0;
    text-align: center;
  }
  #homelive-pack .pack-picto p {
    bottom: 0;
    color: #fff;
    font-size: 4vw;
    height: 15vw;
    left: 0;
    line-height: 1.1;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .grid-item.maison p {
    font-size: 6vw;
  }
  .grid-item {
    clear: none !important;
  }
  .grid-item .info {
    font-size: 5vw;
  }
  .category-bloc .txt-default,
  .category-bloc .txt-newline {
    font-size: 11vw;
    margin: 46vw 0 0;
  }
  .cloudimg {
    width: 40%;
    float: left;
    padding: 10% 4% 0 6%;
  }
  .cloudp {
    color: #FFF;
    float: left;
    font-size: 3.9vw;
    padding-top: 20%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 0;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
